@import "variables";

.mat-tooltip {
  opacity: .95 !important;
  background: $itv_yellow_80 !important;
  color: $itv_black_80 !important;
  border-radius: 8px !important;
  font-size: 12px !important;
  padding: 8px 8px !important;
  font-family: reemRegular !important;
  -webkit-box-shadow: 14px 10px 6px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 10px 6px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 10px 6px -2px rgba(0, 0, 0, 0.75);
  text-align: center;
}

.mat-tooltip:hover {
  opacity: 0.2 !important;
}

.mat-tooltip-pre {
  white-space: pre-line;
  text-align: left;
}

.mat-tooltip-pre-centre {
  white-space: pre-line;
  text-align: center;
}