/* colours */
$light_grey:    #f5f5f5;
$warning:       #c02020;

$itv_blue:      #00cbD2;
$itv_blue_80:   #46D3DB;
$itv_blue_60:   #7fdee4;
$itv_blue_40:   #aee9ed;
$itv_blue_20:   #d8f4f6;
$itv_blue_10:   #ecfafb;
$itv_blue_5:    #f2fdfc;
$itv_blue_POS_80: #42a58b;
$itv_blue_POS:  #138e96;

$itv_black:     #000000;
$itv_black_80:  #424242;
$itv_black_60:  #797979;
$itv_black_40:  #A9A9A9;
$itv_black_20:  #d5d5d5;
$itv_black_10:  #ebebeb;
$itv_black_5:   #f2f2f2;
$itv_black_2:   #fcfcfc;

$itv_white:     #ffffff;

$itv_pink:      #bd2073;
$itv_pink_80:   #CC4B91;
$itv_pink_60:   #DA7EAE;
$itv_pink_40:   #E7ACCA;
$itv_pink_20:   #F3D6E5;
$itv_pink_10:   #F9EBF2;

$itv_yellow:    #ffb922;
$itv_yellow_80: #FFC84C;
$itv_yellow_60: #FFD67E;
$itv_yellow_40: #FFE4AC;
$itv_yellow_20: #FFF1D6;
$itv_yellow_10: #FFF8EB;

$itv_green:     #988c36;
$itv_green_80:  #AEA565;
$itv_green_60:  #C3BC90;
$itv_green_40:  #D8D3B7;
$itv_green_20:  #ECEADC;
$itv_green_10:  #F5F4EE;

$footer_height: 40px;
$header_height: 55px;