@font-face {
    font-family: reemBold;
    src: url('assets/fonts/ITV_Reem-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: reemRegular;
    src: url('assets/fonts/ITV_Reem-Regular.otf');
    font-weight: normal;
}
