#alert-container {
    position: relative;
    top: 60px;
}
body.modal-open {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal.center .modal-dialog {
    position:fixed;
    top:40%;
    left:50%;
    min-width:320px;
    max-width:630px;
    width:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
}
.modal-dialog-bigger {
    position:fixed;
    top:50%;
    left:50%;
    min-width:320px;
    width:65%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
}

.modal-dialog-bigger-with-autoscroll {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 320px;
    width: 65%;
    height: 80%;
    overflow: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

.modal-dialog-large {
    position:fixed;
    top:50%;
    left:50%;
    min-width:320px;
    width:80%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
}
.modal-dialog-large-draggable {
  position: relative;
  top: 80px;
  left: 10%;
  min-width: 320px;
  width: 80%;
}
.modal-dialog-draggable {
    position: relative;
    top: 20%;
    left: 25%;
    min-width: 320px;
    width: 50%;
    .modal-header {
        cursor:move;
    }
}
.modal-screen .modal-content{
    display: block;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
.modal-screen .modal-body {
    height:80%;
    text-align:center;
    margin-top: 60px;
}
.modal-screen .modal-body .buttons{
    margin-top:100px;
}
.modal-screen .modal-footer {
    border:0;
    height:10%;
    text-align:center;
}
.modal-screen .modal-header {
    border:0;
    bottom:0px;
    height:10%;
    text-align:center;
}

.modal-screen .modal-header h2{
    font-size: 3.2em;
}
.modal-screen .modal-header h2 img{
    margin-bottom: 26px;
    margin-right: 27px;
}

.modal .modal-header {
    padding-top: 8px;
    padding-bottom: 8px;
}
.modal-header .modal-title {
    line-height: 1em;
}

.modal .modal-header.alert.alert-ok .modal-title:before,
.modal .modal-header.alert.alert-info .modal-title:before,
.modal .modal-header.alert.alert-warning .modal-title:before,
.modal .modal-header.alert.alert-danger .modal-title:before
{
    position: relative;
    top: 5px;
    display: inline-block;
    font-size: 1.8em;
    letter-spacing: 13px;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
}
.modal .modal-header.alert.alert-ok .modal-title:before{
    color: $itv_blue;
    content: "\f00c";
}

.modal .modal-header.alert.alert-info .modal-title:before{
    content: "\f12A";
    color: $itv_yellow;
}
.modal .modal-header.alert.alert-warning .modal-title:before{
    content: "\f12A";
    color: $itv_pink;
}
.modal .modal-header.alert.alert-danger .modal-title:before{
    content: "\f12A";
    color: $itv_pink;
}

.modal .modal-header.alert{
    background-color: white;
    background-image: none;
    border: none;
    border-bottom: 2px solid $itv_blue_40;
    border-radius: 0px;
    padding: 16px 2px 16px 2px;
    margin-left: 14px;
    margin-right: 14px;
    color: $itv_blue_POS;
}

.modal h4.modal-title{
    font-size: 1.6em;
    color: $itv_blue_POS;
    font-family: reemRegular;
}
.modal .modal-body{
    color: $itv_black;
    font-size: 1.0em;
    font-weight: normal;
    font-family: reemRegular;
    padding-bottom: 45px;
}
.modal .modal-body + .modal-footer {
    border-top: 2px solid $itv_blue_40;
}
.modal .modal-footer {
    border: none;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-left: 0px;
    margin-right: 8px;
}

.modal-backdrop{
    opacity: 0.1;
}
.modal-content {
    .info-label {
        color: $itv_blue_POS;
        margin-bottom: 3px;
        label {
            font-weight: normal;
            margin-bottom: 0px;
        }
    }
    .info-text {
        color: $itv_black;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}