/*/config.yaml
/*/bin
/*/target/
/*/logs/
/*/.classpath
/*/.project
/*/.idea
/*/.settings/
/*/*.iml
.metadata/
/*/tmp*
/*/dependency-reduced-pom.xml
/*/*.tlog
*.log.gz
.classpath
.project
.vagrant
.idea
.recommenders
*.eml
target/
*.log
*.iml
*.eml
*~
*.~lock.*
Vagrantfile
.docker/
.docker-sync/
.unison.*
.DS_Store

/*/lombok.config
!/autoclear-parent/lombok.config
