<div class='row'>
    <div style="text-align: center; padding-top: 100px;">
        <div style='position:relative;'>
            <form class="form-inline" autocomplete="off" novalidate>

                <div class='form-group'>
                    <span style='position:relative;'>
                        <input class="form-control"
                               style="width:280px;"
                               maxlength=255
                               name='loginUsername'
                               id='loginUsername'
                               [(ngModel)]="username"
                               placeholder="Username" />
                    </span>
                </div>

                <div class='form-group'>
                    <span style='position:relative;'>
                        <input class="form-control"
                               style="width:280px;"
                               maxlength=255
                               name='loginPassword'
                               id='loginPassword'
                               placeholder="Password" />
                    </span>
                </div>

                <div class='form-group pad-left-4'>
                    <button type="button"
                            id='login-button'
                            class='btn btn-med btn-primary btn-talpay'
                            (click)="login()"
                            tabindex='1'>
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
