src/main/assets/temp/*
src/main/resources/node
src/main/resources/node_modules
src/main/webapp/bower_components
src/main/webapp/js/*.js
src/main/webapp/combined.css
src/main/webapp/css/combined.css
src/main/webapp/css/css.min.css
src/main/webapp/css/main.css
src/main/webapp/css/main.css.map
src/main/webapp/css/combined.css
src/main/webapp/config/form-constraints/constraints.json
.sass-cache
.tscache
drivers/*
node/*
node_modules/*
build/*
dist/
build/
.gz
src/main/build/assets/**
src/main/build/resources/**
src/main/build/app*
src/main/build/vendor*
.vscode/
compodoc/
